#
# This file is input for pip-compile. Update this file, then run:
#
#    pip-compile
#    pip-sync
#
# Or to check for version bump upgrades:
#
#    pip-review
#

### Python Buildchain Dependencies
wheel
pip-review
pip-tools
pipdeptree


### Jupyter
ipython
jupyter
jupyterlab
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterthemes


### SciPy - https://www.scipy.org/install.html
numpy
pandas
scipy
sympy


### Tensorflow
tensorflow==2.1.0
tensorflow-gpu


### Visualization
matplotlib
seaborn


### Utils
simplejson


### Functional Programming
pyfunctional
more-itertools
cytoolz
pampy
deal

### Tests
# nose
